### Merging & Concatenating Data

In [1]:
import pandas as pd

In [49]:
bios = pd.read_csv('./Data/bios.csv')

In [51]:
nocs = pd.read_csv('./Data/noc_regions.csv')

In [25]:
bios_new = pd.merge(bios, nocs, left_on='born_country', right_on='NOC', how='left')   # add new column of full name of region using dataset of noc_regions

In [45]:
bios_new.rename(columns={'region': 'born_country_full'}, inplace=True) # rename region to born_country_full

In [47]:
bios_new.head()

,athlete_id,name,born_date,born_city,born_region,born_country,NOC_x,height_cm,weight_kg,died_date,NOC_y,born_country_full,notes
0,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02,FRA,France,NaN
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN,FRA,France,NaN
2,3,Jean Borotra,1898-08-13,Biarritz,Pyrénées-Atlantiques,FRA,France,183.0,76.0,1994-07-17,FRA,France,NaN
3,4,Jacques Brugnon,1895-05-11,Paris VIIIe,Paris,FRA,France,168.0,64.0,1978-03-20,FRA,France,NaN
4,5,Albert Canet,1878-04-17,Wandsworth,England,GBR,France,NaN,NaN,1930-07-25,GBR,UK,NaN

In [55]:
usa = bios[bios['born_country']=='USA'].copy()  # copy of born_country which have only include one country you set in.
gbr = bios[bios['born_country']=='GBR'].copy()

In [70]:
new_df = pd.concat([usa,gbr]) # both in one

In [80]:
usa.head()

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
54,55,Monique Javer,1967-07-22,Burlingame,California,USA,Great Britain,177.0,64.0,NaN
960,964,Xóchitl Escobedo,1968-09-17,West Covina,California,USA,Mexico,170.0,60.0,NaN
961,965,Angélica Gavaldón,1973-10-03,El Centro,California,USA,Mexico,160.0,54.0,NaN
1231,1238,Bert Schneider,1897-07-01,Cleveland,Ohio,USA,Canada,NaN,NaN,1986-02-20
1345,1352,Laura Berg,1975-01-06,Santa Fe Springs,California,USA,United States,168.0,61.0,NaN